.result-contain {
	text-align: center;
}

table {
	text-align: left;
}

#watch-list {
	display: inline-block;
	width: 100%;
	height: 270px;
	background-color: yellow;
}

#table-data {
	display: inline-block;
	width: 100%;
	height: 270px;
	background-color: green;
}

#watched-list {
	width: 100%;
	height: 270px;
	background-color: blue;
}

